.mg-15 {
  margin: 0 0.1rem;
  margin-bottom: 15px;
}

.border-20 {
  border-radius: 0.133333rem;
  box-shadow: 0 0.02rem 0.08rem rgba(0, 0, 0, 0.05);
}

.fs-22 {
  font-size: 0.146667rem;
}

.color-99 {
  color: #999999;
}

.fs-28 {
  font-size: 0.186667rem;
}

.color-33 {
  color: #333333;
}

.font-w600 {
  font-weight: 600;
}

.smll {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.smll-hd {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
}

.img-w58 {
  width: 0.386667rem;
  height: 0.386667rem;
}

.img-w58 img {
  width: 0.386667rem;
  height: 0.386667rem;
}

.mg-r15 {
  margin-right: 0.1rem;
}

.mg_t15 {
  margin-top: -15px;
}

.font-w500 {
  font-weight: 500;
}

.cner {
  padding: 10px 15px;
  overflow: hidden;
  margin-left: -0.066667rem;
  margin-right: -0.066667rem;
}

.img-wy {
  width: 1.36rem;
  height: 0.846667rem;
  border-radius: 0.033333rem;
  overflow: hidden;
  display: inline-block;
  margin: 0.02rem;
}

.img-wy img {
  width: 100%;
  height: auto;
}

.tr {
  text-align: right;
}

.tng-op {
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  display: inline-block;
  margin-left: 0.266667rem;
}

.tng-op img {
  vertical-align: middle;
  width: 0.2rem;
  height: 0.2rem;
  margin-top: -0.02rem;
  margin-right: 0.02rem;
}

.img-630 {
  width: 100%;
  height: auto;
}

.img-630 img {
  width: 100%;
  height: auto;
}

.fs-34 {
  font-size: 0.226667rem;
}

.color-9 {
  color: #999999;
}

.fs-34 {
  font-size: 0.226667rem;
}

.peonge .swiper-slide {
  width: 2.133333rem;
  border-radius: 0.133333rem;
  overflow: hidden;
}

.peonge .swiper-slide img {
  width: 2.133333rem;
  height: 1.333333rem;
}

.img {
  line-height: 0;
}

.img-text {
  padding: 0.133333rem;
  background: #fff;
}

.pd-0 {
  padding: 10px 0px;
}

.img-256 {
  width: 1.706667rem;
  height: 1.066667rem;
  border-radius: 0.066667rem;
  overflow: hidden;
}

.img-15 {
  margin-right: 0.1rem;
}

.heg-120 {
  height: 0.733333rem;
  padding-top: 0.066667rem;
}

.ometo .tng-op {
  margin-left: 0;
}

.fs-30 {
  font-size: 0.2rem;
}

.fs-24 {
  font-size: 0.16rem;
}

.mg-t0 {
  margin-top: 0;
}

.mg-t-15 {
  margin-top: -0.133333rem;
}

.width-100 {
  width: 100%;
  height: auto;
}

.no-bea::before {
  display: none;
}

.border-boax {
  height: 0.693333rem;
  line-height: 0.693333rem;
  overflow: hidden;
  text-align: center;
}

.border-boax audio {
  margin: 0 auto;
  width: 100%;
}

.rodie {
  width: 0.653333rem;
  height: 0.693333rem;
  text-align: center;
  border-right: 0.006667rem solid #e7e7e7;
  float: left;
}

.rodie img {
  width: 0.14rem;
  margin-top: 0.233333rem;
}

.wety {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  padding: 0 15px;
}

.roderi img {
  width: 2.92rem;
  padding-top: 0.266667rem;
}

.mg-l20 {
  margin-left: 0.133333rem;
}

.mg-t20 {
  margin-top: 0.133333rem;
}

.owetyu {
  color: #333333;
  font-size: 0.173333rem;
}

.owetyu p {
  text-indent: 2em;
}

.mg_t25 {
  margin-top: -25px;
}

.padty {
  padding: 14px 15px 14px;
}

.color-we {
  color: #334180;
}

.borde-be::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 0.006667rem;
  border-top: 0.006667rem solid #eeeeee;
  color: #eeeeee;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  left: 0.1rem;
  z-index: 2;
}

.uploadimg .img {
  float: left;
  display: inline-block;
  width: 0.866667rem;
  height: 0.866667rem;
  position: relative;
  border-radius: 0.033333rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0.1rem;
  border: 0.006667rem solid #e5e5e5;
  border-radius: 0.066667rem;
}

.addfilebtn {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 0.866667rem;
  height: 0.866667rem;
  border-radius: 0.033333rem;
  background-color: #fff;
  border: 0.006667rem solid #eee;
  font-size: .5rem;
}

.addfilebtn input {
  display: none;
}

.addfilebtn i {
  display: inline-block;
  width: 0.586667rem;
  height: 0.48rem;
  line-height: 1em;
  margin: 0 auto;
  background: url(../images/12_03.jpg);
  background-size: 100% 100%;
}

.mb10 {
  margin-bottom: 0.2rem;
}

.uploadimg .img .del {
  top: -0.046667rem;
  right: -0.046667rem;
  position: absolute;
  width: 0.173333rem;
  height: 0.173333rem;
  background: url(../images/icon_del.png);
  background-size: 100% 100%;
}

.borde-be.weui-cell_access::after {
  display: none;
}

.weui-btn_primary {
  background: #334180;
  border-radius: 0.326667rem;
  box-shadow: 0 0.02rem 0.08rem rgba(51, 65, 128, 0.5);
}

.pd-10 {
  padding: 13px 15px;
  background: #fff;
}

.search-bar input[type=search] {
  width: 100%;
  border: none;
  background-color: #f5f5f5;
  border-radius: 0.233333rem;
  height: 0.473333rem;
  line-height: 0.473333rem;
  text-indent: 0.48rem;
  font-size: 0.186667rem;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
}

.search-input .search-icon {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 0.473333rem;
  height: 0.473333rem;
  background: url(../images/9_03.png) no-repeat center;
  background-size: 50% 50%;
  background-position: 50%;
}

.search-input {
  position: relative;
}

input::-webkit-input-placeholder {
  color: #999999;
}

.fenlei {
  width: 0.533333rem;
  text-align: right;
  font-size: 0.186667rem;
  color: #333333;
}

.mg-t5 {
  margin-top: 0.033333rem;
}

.img-70 {
  width: 0.466667rem;
  height: 0.466667rem;
  border-radius: 100%;
  overflow: hidden;
}

.img-r30 {
  margin-right: 0.2rem;
}

.img-40 {
  width: 0.266667rem;
  height: 0.266667rem;
}

.color-fa {
  color: #fa5b4f;
}

.color-6 {
  color: #666;
}

.color-04 {
  color: #040404;
}

.datok {
  background: url(../images/11_03.png) no-repeat right top #fff;
  background-size: 0.466667rem;
}

.img-ert {
  width: 1.36rem;
  height: 1.36rem;
  float: left;
  border-radius: 0.066667rem;
  overflow: hidden;
  margin: 0.02rem;
  line-height: 0;
}

.img-ert img {
  width: 1.36rem;
  height: 1.36rem;
  border-radius: 0.066667rem;
}

.img-es {
  margin-top: 0.2rem;
}

.card {
  border-radius: 0.133333rem;
  width: 100%;
  height: 2rem;
  color: #fff;
  background: -webkit-linear-gradient(left, #334180, #4659b7);
  background: linear-gradient(to right, #334180, #4659b7);
  box-shadow: 0 0.053333rem 0.08rem rgba(51, 65, 128, 0.5);
}

.card-er {
  background: url(../images/13_03.png) no-repeat top right;
  background-size: 1.333333rem;
}

.pd-card {
  padding: 0.36rem 0.266667rem;
}

.fs-72 {
  font-size: 0.48rem;
}

.fs-40 {
  font-size: 0.266667rem;
}

.card-tyr span {
  padding-right: 0.133333rem;
}

.mg-t10 {
  margin-top: 0.066667rem;
}

.wentwe {
  background: #fff;
  border-radius: 0.166667rem;
  text-align: center;
}

.border-rer {
  width: 0.546667rem;
  height: 0.333333rem;
  line-height: 0.333333rem;
  border-radius: 100%;
  position: relative;
  border: 0;
  display: inline-block;
  margin: 0 auto;
  padding-left: 0.186667rem;
  font-size: 0.16rem;
  color: #334180;
  font-weight: 600;
}

.border-rer::before {
  position: absolute;
  content: '';
  width: 0.02rem;
  height: 0.12rem;
  left: 0.186667rem;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #334180;
}

.border-rer::after {
  width: 0.12rem;
  height: 0.02rem;
  left: 0.186667rem;
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #334180;
}

.bocke-we {
  color: #bfcaff;
}

.bocke-we::before {
  background: #bfcaff;
}

.bocke-we::after {
  background: #bfcaff;
}

.banner .swiper-slide {
  line-height: 0;
}

.banner .swiper-slide img {
  width: 100%;
}

.banner .swiper-pagination-bullet {
  background-color: #000;
  width: 0.106667rem;
  height: 0.106667rem;
  border-radius: 100%;
}

.banner .swiper-pagination-bullet-active {
  width: 0.106667rem;
  height: 0.106667rem;
  background-color: #f75b33;
  border: solid 0.006667rem #dcdcdc;
}

.mg-15 {
  margin: 0 15px;
  margin-bottom: 15px;
}

.width-220 {
  width: 1.466667rem;
  height: 2rem;
  border-radius: 0.133333rem;
  background-color: #ffffff;
  box-shadow: 0 0.053333rem 0.08rem rgba(0, 0, 0, 0.05);
  margin-right: 0.12rem;
}

.imer-t136 {
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 0.233333rem;
}

.imer-t136 img {
  width: 0.906667rem;
}

.tc {
  text-align: center;
}

.fs-36 {
  font-size: 0.24rem;
}

.color-22 {
  color: #222222;
}

.back-pl {
  border-radius: 0.133333rem;
  background-color: #ffffff;
  box-shadow: 0 0.053333rem 0.08rem rgba(0, 0, 0, 0.05);
  height: 0.933333rem;
  margin-bottom: 0.12rem;
}

.back-pl:last-child {
  margin-bottom: 0;
}

.img-erpm img {
  width: 0.86rem;
}

.pd-m20 {
  padding: 0.133333rem 0.1rem 0.133333rem 0.3rem;
}

.mg-t15 {
  margin-top: 15px;
}

.prout {
  border-radius: 0.133333rem;
  background-color: #ffffff;
  box-shadow: 0 0.053333rem 0.08rem rgba(0, 0, 0, 0.05);
  margin-right: 0.12rem;
  width: 48%;
  margin: 1%;
  float: left;
  margin-bottom: 0.133333rem;
}

.prout:nth-child(2n+2) {
  float: right;
}

.img-prout {
  line-height: 0;
}

.img-prout img {
  width: 100%;
  height: auto;
}

.prout-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.pd-ut {
  padding: 0.16rem 0.133333rem;
}

.img-w26 {
  width: 0.173333rem;
  height: 0.173333rem;
  margin-top: -0.013333rem;
  margin-right: 0.053333rem;
}

.mg-t20 {
  margin-top: 0.133333rem;
}

.mg_e1 {
  margin-left: -1%;
  margin-right: -1%;
}

.banner-oer .swiper-pagination {
  bottom: 0.4rem;
}

.banner-oer img {
  width: 100%;
}

.banner-oer .swiper-pagination-bullet {
  background-color: #eeeeee;
  width: 0.133333rem;
  height: 0.133333rem;
  border-radius: 100%;
}

.banner-oer .swiper-pagination-bullet-active {
  width: 0.133333rem;
  height: 0.133333rem;
  background-color: #ffffff;
  border: solid 0.006667rem #dcdcdc;
}

.mg_t30 {
  margin-top: -0.266667rem;
}

.pd-l35 {
  padding-left: 0.233333rem;
}

.pd-0 {
  padding: 0;
}

.imer {
  line-height: 0;
}

.imer img {
  width: 100%;
}

.border-bt20 {
  border-radius: 0.133333rem 0.133333rem 0 0;
  box-shadow: 0 0.053333rem 0.08rem rgba(0, 0, 0, 0.05);
}

.weui-bottom {
  border-radius: 0.02rem;
  height: 100%;
  line-height: 0.56rem;
  display: block;
  width: 100%;
  margin-right: 15px;
  font-size: 0.2rem;
  color: #fff;
  text-align: center;
}

.weui-btn_red {
  background-color: #334180;
}

.pd-l25 {
  padding-left: 0.166667rem;
}

.back-we {
  background-color: #eff0f5;
  border-radius: 0.1rem;
  font-size: 0.133333rem;
  color: #334180;
  padding: 0.02rem 0.066667rem;
}

.back-mge {
  background: url(../images/19_03.jpg) no-repeat bottom;
  background-size: 100%;
}

.fixed-bottom3 > .weui-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  box-shadow: 0 -0.02rem 0.046667rem rgba(0, 0, 0, 0.05);
  background-color: #fff;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  border-bottom: 0.006667rem solid #eee;
}

.fixed-bottom3 {
  height: 0.6rem;
  position: relative;
}

.mty .weui-cell__hd {
  line-height: 0;
}

.fixed-bottom3 > .weui-flex > div .btn {
  display: block;
  background-color: #334180;
  color: #fff;
  width: 100%;
  line-height: 0.6rem;
  width: 2rem;
  text-align: center;
}

.weui-flex {
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.pd-l10 {
  padding-left: 0.066667rem;
}

.pd_l15 {
  padding-left: 15px;
}

.fs-60 {
  font-size: 0.4rem;
}

.pd-mkge {
  padding: 0.4rem 0.1rem;
}

.color-0a {
  color: #0acea4;
}

.typwe .weui-navbar__item.weui-bar__item--on {
  font-size: 0.2rem;
  color: #333333;
  font-weight: 600;
}

.typwe .weui-navbar__item.weui-bar__item--on:after {
  background-color: #334180;
  width: 0.266667rem;
  height: 0.04rem;
  border-radius: 0.066667rem;
}

.typwe .weui-navbar .weui-navbar__item {
  font-size: 0.16rem;
  color: #666666;
}

.typwe .weui-navbar {
  border-bottom: 0.013333rem solid #f5f5f5;
}

.btome {
  border: 0.006667rem solid #e5e5e5;
  border-radius: 0.2rem;
  width: 0.933333rem;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.173333rem;
  color: #666;
  text-align: center;
  display: inline-block;
}

.btome-bdt {
  border: 0.006667rem solid #334180;
  border-radius: 0.2rem;
  width: 0.933333rem;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.173333rem;
  text-align: center;
  display: inline-block;
  color: #fff;
  background-color: #334180;
}

.fs-32 {
  font-size: 0.213333rem;
}

.weui-labely {
  padding-right: 0.133333rem;
}

.mg-tom {
  padding: 0.033333rem 0;
}

.fs-26 {
  font-size: 0.173333rem;
}

.text-d {
  text-decoration: underline;
}

/*日期*/

.Calendar table tr span {
  display: block;
  margin: 0 auto;
  line-height: 0.533333rem;
}

.Calendar table tr .onToday span {
  background: #334180;
  color: #fff;
  display: block;
  margin: 0 auto;
}

.Calendar table,
.Calendar tr,
.Calendar td {
  border: 0;
}

.Calendar table {
  width: 100%;
  margin: 0 auto;
}

.Calendar table td {
  text-align: center;
  line-height: 0.533333rem;
  font-size: 0.186667rem;
  color: #333333;
}

.Calendar table .tou td {
  font-size: 0.186667rem;
  color: #333;
  font-weight: 600;
}

.flex-pack-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  padding: 0.1rem 0;
}

.year-month {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 0.24rem;
  color: #333;
  font-weight: 600;
}

#idCalendarPre {
  font-family: "宋体";
  font-size: 0.24rem;
  width: 0.533333rem;
  height: 0.4rem;
  text-align: center;
  display: inline-block;
  position: relative;
  display: none;
}

#idCalendarPre::after {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #c8c8cd;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -0.013333rem;
  position: absolute;
  top: 50%;
  margin-top: -0.026667rem;
  right: 50%;
}

#idCalendarNext {
  font-family: "宋体";
  font-size: 0.24rem;
  width: 0.533333rem;
  height: 0.4rem;
  text-align: center;
  display: inline-block;
  position: relative;
  display: none;
}

#idCalendarNext::after {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #c8c8cd;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -0.013333rem;
  position: absolute;
  top: 50%;
  margin-top: -0.026667rem;
  right: 50%;
}

.mg-b10 {
  margin-bottom: 0.066667rem;
}

.color-6 {
  color: #666666;
}

.back-pwe {
  position: absolute;
  right: 0.266667rem;
  top: 0;
  width: 0.266667rem;
  height: 0.3rem;
  background: url(../images/03_03.png) no-repeat top right;
  background-size: 100%;
}

/*14.1扫码授权  */

.badok {
  width: 100%;
  background: url(../images/01.png) no-repeat center top;
  background-size: 100%;
  height: 5.766667rem;
}

.wid-650 {
  width: 4.333333rem;
  height: auto;
  margin: 0 auto;
  background: #fff;
  border-radius: 0.066667rem;
  padding: 0.166667rem;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(150, 150, 150, 0.1);
}

.pd-t117 {
  padding-top: 0.78rem;
}

.img-w100 {
  width: 100%;
  height: auto;
  border-radius: 0.066667rem;
}

.font-w700 {
  font-weight: 700;
}

.img-26 {
  width: 0.173333rem;
  height: 0.173333rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  vertical-align: middle;
}

.weui-label-90 {
  width: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.back-f {
  background: #fff;
}

.img-50 img {
  width: 0.333333rem;
  height: 0.333333rem;
}

.mg-t75 {
  margin-top: 0.5rem;
}

.img-190 {
  width: 1.266667rem;
  height: 1.266667rem;
  margin: 0 auto;
}

.img-190 img {
  border: 0.053333rem solid #fff;
  width: 1.16rem;
  height: 1.16rem;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(150, 150, 150, 0.1);
}

.pg-t126 {
  padding-top: 0.84rem;
}

.mg-t35 {
  margin-top: 0.233333rem;
}

.fs-48 {
  font-size: 0.32rem;
}

.tcyp {
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  vertical-align: middle;
  margin-top: 0.466667rem;
}

.tcyp img {
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  vertical-align: middle;
}

.width-30 {
  width: 0.2rem;
  height: 0.2rem;
  margin-right: 0.06rem;
}

.pg-t35 {
  padding-top: 0.233333rem;
}

.img-54 {
  width: 0.36rem;
  height: 0.36rem;
  margin-right: 0.066667rem;
}

.pd-t30 {
  padding-top: 0.2rem;
}

.weui-cell__hd .img-80 {
  width: 0.533333rem;
  height: 0.533333rem;
  border-radius: 100%;
  margin-right: 0.166667rem;
}

.smll-no {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.mager {
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  vertical-align: middle;
}

.mager img {
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  vertical-align: middle;
  line-height: 0;
}

.img-24 {
  width: 0.16rem;
  height: 0.16rem;
  margin-right: 0.06rem;
}

.img-36 {
  width: 0.24rem;
  height: 0.24rem;
}

.canvs-od {
  width: 0.2rem;
  height: 0.2rem;
  line-height: 0.2rem;
  border-radius: 100%;
  background: #fff;
  color: #334180;
  display: inline-block;
  text-align: center;
  font-size: 0.08rem;
  border: 0.006667rem solid #eeeeee;
  margin-right: 0.086667rem;
}

.img-30 {
  width: 0.2rem;
  height: 0.2rem;
}

.mg-b35 {
  margin-bottom: 0.233333rem;
}

.border-tde {
  border-top: 0.026667rem dashed #eee;
}

.fixed-bottom3 > .weui-flex > .weui-cell__bd .btn {
  width: 100%;
}

.bty-om {
  display: block;
  color: #334180;
  text-align: center;
}

/*14.1扫码授权  */

/*通讯录*/

.list {
  background: #fff;
}

.yiji ul {
  padding-left: 0.4rem;
  display: none;
  position: relative;
}

.yiji li {
  list-style: none;
  position: relative;
}

.yiji li::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0.006667rem;
  border-bottom: 0.006667rem solid #eeeeee;
  color: #eeeeee;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.yiji ul::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 0.006667rem;
  border-top: 0.006667rem solid #eeeeee;
  color: #eeeeee;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.yiji li:last-child::after {
  display: none;
}

.yiji li a {
  padding: 10px 15px;
  font-size: 0.173333rem;
  display: block;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.inactive::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0.1rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  height: 6px;
  width: 6px;
  margin-top: -6px;
  border-width: 0.013333rem 0.013333rem 0 0;
  border-color: #c8c8cd;
  /*no*/
  border-style: solid;
  /*no*/
  -webkit-transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
  transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
}

.inactives::after {
  -webkit-transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
  transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
}

.img-60 {
  width: 0.4rem;
  height: 0.4rem;
}

.img-mwe {
  vertical-align: middle;
  margin-right: 0.066667rem;
  line-height: 0;
}

.list-item-tit {
  padding: 10px 15px;
  margin: 0;
  font-size: 0.186667rem;
  background: #f1f1f1;
  font-weight: normal;
}

.list .weui-cell__ft {
  padding-right: 0.066667rem;
}

.pmwe .swiper-pagination-bullet-active {
  width: 0.053333rem;
  height: 0.053333rem;
  background: #fff;
}

.pmwe .swiper-pagination-bullet {
  width: 0.053333rem;
  height: 0.053333rem;
  background: #fff;
}

.pmwe video {
  width: 100%;
  height: 3.133333rem;
}