<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中  10.1.20.-1     114.119.33.-25
-->
<configuration>
  <configSections>
    <section name="RedisConfig" type="SerpRedis.RedisConfigInfo,SerpRedis" />
  </configSections>
  <RedisConfig WriteServerList="10.1.20.100:6379" ReadServerList="10.1.20.100:6379" PassWord="zp123456" DbName="15" MaxWritePoolSize="60" MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false">
  </RedisConfig>
  <appSettings>
    <add key="Conn" value="server=10.1.20.120,5388;Uid=serp;Pwd=PTDSe/XycOhQWQ8Cu5tIZg;DataBase=serp3;Connection Timeout=120;Application Name=serp3_test1" />
    <!--<add key="Conn" value="server=10.1.10.1,5388;Uid=serp3;Pwd=PTDSe/XycOhQWQ8Cu5tIZg;DataBase=serp3_test;Connection Timeout=120;Application Name=serp3_test" />-->
    <add key="zpMoney" value="server=10.1.10.1,5388;Uid=serp3;Pwd=PTDSe/XycOhQWQ8Cu5tIZg;DataBase=zpMoney;Connection Timeout=120;Application Name=serp3_test" />
    <add key="ConnWXlog" value="server=10.1.10.1,5388;Uid=serp3;Pwd=PTDSe/XycOhQWQ8Cu5tIZg;DataBase=serp3_log;Connection Timeout=120;Application Name=serp3_test" />
    <!--获取物流码数据库连接-->
    <add key="ConnCode" value="server=10.1.10.1,5388;Uid=serp3;Pwd=PTDSe/XycOhQWQ8Cu5tIZg;DataBase=onlyId_code;Connection Timeout=120;Application Name=serp3_test" />
    <add key="DataBaseName" value="serp3_log" />
    <add key="DataBaseType" value="sql" />
    <!--access,sql,tsql-->
    <!--是否使用缓存-->
    <add key="IsCookies" value="true" />
    <add key="ConnKey" value="0" />
    <add key="IsUseCache" value="false" />
    <add key="FilePath" value="/UploadFile/Pic/" />
    <add key="SyPath" value="/SY/SY.png" />
    <add key="FileType" value="swf,jpg,gif,jpeg,bmp,rar,png,flv" />
    <add key="FileSize" value="1024000000" />
    <add key="ImageWidth" value="1024" />
    <add key="TimeOut" value="30" />
    <!--上传图片指定最大宽度，如果超过则压缩-->
    <add key="WH" value="70,30" />
    <!--水印图片离图片右下角的X,Y的距离-->
    <add key="ImgExt" value="jpg,gif,jpeg,bmp,png" />
    <!--图片格式-->
    <add key="Url" value="" />
    <!--<add key="WlAPI_Qyery_Url" value="http://10.1.10.4:8080/track.ashx?action=checkcode" />
    <add key="WlAPI_QueryMappingFwCode_Url" value="http://10.1.10.4:8080/track.ashx?action=getfwlist" />
    <add key="WlAPI_QueryMappingWlCode_Url" value="http://10.1.10.4:8080/track.ashx?action=getwlcode" />-->
    <add key="ManufacturerService.ManufacturerService" value="http://192.168.2.38/Services/ManufacturerService.asmx" />
    <add key="WeiShangURL" value="http://10.1.20.1/api/gettoken.aspx" />
    <add key="WeiShangShopURL1" value="http://10.1.20.1/api/gettoken.aspx" />


    <add key="WlAPI_Qyery_Url" value="http://10.1.10.4:3721/?action=checkcode" />
    <add key="WlAPI_Validate_Url" value="http://10.1.10.4:3721/?action=check" />
    <add key="WlAPI_QueryMappingFwCode_Url" value="http://10.1.10.4:3721/?action=wl2fw" />
    <add key="WlAPI_QueryMappingWlCode_Url" value="http://10.1.10.4:3721/?action=getwlcode" />
    <add key="FWAPI_QueryMappingWICode_Url" value="http://10.1.10.4:3721/?action=fw2wl" />
    
    <add key="IP" value="192.168.191.1" />
    <add key="HostNameSuffix" value=".serp.com" />
    <add key="Port" value="80" />
    <add key="siteName" value="serp" />

    <!--一码通未发布商品预览-->
    <add key="ymtProductReviewUrl" value="http://ymttest_1.onlyid.cn" />
    <!--一码通已发布商品预览-->
    <!--<add key="ymtPublicProductReviewUrl" value="http://p.onlyid.cn" />-->
    <add key="ymtPublicProductReviewUrl" value="http://ymttest.onlyid.cn" />
    <!--获取微信商品-->
    <add key="WeiShangShopURL" value="http://api.winmobi.cn/API.ashx?action=ProductMsg&amp;CustID={0}&amp;PageSize={1}&amp;PageIndex={2}" />
    <add key="WeiImageUrl" value="http://image.winmobi.cn" />
    <!--微网积分接口-->
    <!--<add key="WeiWangJFUrl"  value="http://10.1.10.4:8008/API.ashx"/>-->
    <add key="WeiWangJFUrl" value="http://api.winmobi.cn/API.ashx" />
    <!--微网发送短信接口-->
    <add key="WeiWangSendMsgUrl" value="http://192.168.0.101:8088/API.ashx" />
    <!--turned转发配置：TO表示请求地址 1-微网，2-一码通 Url表示要返回地址-->
    <add key="YmtJF" value="To=1@Url=http://ymttest.onlyid.cn/AntiFakery/Integral" />
    <add key="YmtCE" value="To=2@Url=http://{0}.onlyid.cn/weixin/WeiXinTest.aspx" />
    <add key="YmtJL" value="To=3@Url=http://ymttest.onlyid.cn/ChouJiang/ChouJiangDrawnPrize" />
    <!--作废防伪码-->
    <add key="WlAPI_CancelFwCode_Url" value="http://10.1.10.4:8088/API.ashx?action=addnullifycode" />
    <!--商厂授权等级设置-->
    <add key="Authorizationlevel_Manufacturer" value="" />

    <!--授权证书图片查看-->
    <add key="authorizeImgUrl" value="http://zptest.onlyid.cn" />

    <!--物流码扩展-->
    <add key="wl_code_extension_domain" value="binni,anli,beiyu" />


    <!--产品发红包返回URL-->
    <add key="productReturnUrl" value="" />

    <!--基础防伪查询接口-->
    <add key="FwBaseCodeApi" value="http://10.1.10.4:8088/API.ashx" />

    <!--微网发送红包-->
    <add key="WMAPI_RedPacket_Url" value="http://10.1.10.4:8008/API.ashx" />
    <!--微网返回二维码-->
    <add key="WMAPI_QdCode_Url" value="http://10.1.20.2/API.ashx" />
    <add key="productUrl" value="http://zptest.onlyid.cn" />
    <!--微网公众号发信息-->
    <add key="WMAPI_SendConcernPublicMsg_Url" value="http://www.winmobi.cn/mall/Shop/AttentionMsg.aspx" />
    <add key="notify_url" value="http://zptest.onlyid.cn/SysAdmin/AliPay/notify_url.aspx" />
    <add key="return_url" value="http://zptest.onlyid.cn/SysAdmin/AliPay/return_url.aspx" />


    <!--微信支付数字证书-->
    <add key="WeiXinPayMent" value="80000" />
    <!--Ymt证书URL-->
    <add key="YmtCertUrl" value="http://ymt.onlyid.cn/FileReceived/UploadFile" />


    <!--图片上传服务器-->
    <add key="UploadImgUrl" value="http://img.onlyid.cn" />

    <!--养殖追溯匹配url-->
    <add key="YZMatchingCodeUrl" value="http://kaifa.zpserp.com" />

    <!--正品中心api地址-->
    <add key="zpCenterApiUrl" value="http://localhost:9366/api" />
    <!--短讯中心api地址-->
    <add key="smsCenterApiUrl" value="http://localhost:24622/SendMsg" />

    <add key="SerpAaiUrl" value="http://192.168.0.102:8114/app/send_old.ashx" />
    
    <add key="ServerUploadImgUrl" value="http://192.168.0.3:8060" />
  
  </appSettings>

  <!--<RedisConfig WriteServerList="192.168.2.13:6379" ReadServerList="192.168.2.13:6379" PassWord="123456" MaxWritePoolSize="60" MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false"></RedisConfig>-->
  <!--<connectionStrings>
    <add name="Conn" connectionString="server=10.1.20.110,5388;Uid=sa;Pwd=WA@@@Wei315#@#WinGG;DataBase=Project;Connection Timeout=120;"/>
  </connectionStrings>-->
  <system.web>
    <httpModules />
    <!-- 
            <add key="Conn" value="/App_Data/DataMX.mdb"></add>
            <add key="Conn" value="server=192.168.0.197;Uid=sa;Pwd=sa;Database=DD_EEdoor"></add>
            设置 compilation debug="true" 将调试符号插入 
            已编译的页面中。但由于这会 
            影响性能，~ 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpSoap" />
        <add name="HttpPost" />
        <add name="HttpGet" />
        <add name="Documentation" />
      </protocols>
    </webServices>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off">
      <error statusCode="404" redirect="/error/error.html" />
    </customErrors>

    <!--<identity impersonate="true" userName="lenovo-pc" password="123456" />-->
    <httpRuntime maxRequestLength="102400" executionTimeout="6000" />
    <pages validateRequest="false" enableEventValidation="false" enableViewStateMac="false" controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Login.aspx" />
        <add value="default.aspx" />
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />

    <modules>
      <add name="AuthorizeModule" type="AuthorizeModule,App_Code" />
      <add name="RedirectCustomFilterModule" type="RedirectCustomFilterModule,App_Code" />
      <remove name="OutputCache" />
      <remove name="Session" />
      <remove name="WindowsAuthentication" />
      <remove name="FormsAuthentication" />
      <remove name="DefaultAuthentication" />
      <remove name="RoleManager" />
      <remove name="UrlAuthorization" />
      <remove name="FileAuthorization" />
      <remove name="AnonymousIdentification" />
      <remove name="Profile" />
      <remove name="UrlMappingsModule" />
      <remove name="UrlRoutingModule-4.0" />
      <remove name="ScriptModule-4.0" />
    </modules>
    <handlers>
      <!--<add name="authorizeHandler" path="s.aspx" verb="*" type="AuthorizeHanlder, App_Code"/>
    <add name="tb_agent_authorizeOpenList" path="/SysAdmin/OpenWin/tb_agent_authorizeOpenList.aspx" verb="*" type="RedirectHanlder, App_Code"/>
    <add name="tb_customerAdd" path="/SysAdmin/Pages/tb_customerAdd.aspx" verb="*" type="RedirectHanlder, App_Code"/>
    <add name="tb_choujiang_drawnPrizeList" path="/SysAdmin/pages/BigWheel/tb_choujiang_drawnPrizeList.aspx" verb="*" type="RedirectHanlder, App_Code"/>-->
      <!--<add name="Redirect1" path="/test1.html" verb="*" type="RedirectHanlder, App_Code"/>-->
      <!--<add name="Redirect1" path="/AjaxAspx/test1.html" verb="*" type="RedirectHanlder, App_Code"/>-->
    </handlers>
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>